.search-section {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    border-right: 2px solid white;
}

.logo {
    width: 175px;
    margin: 4px 16px 0 16px;
}

.search-bar {
    margin-right: 16px;
    width: 80%;
}

.css-1hwfws3 {
    cursor: text;
}

.react-select__control--is-focused.react-select__control--menu-is-open 
.react-select__single-value { 
    display: none; 
}

.react-select__menu {
    text-transform: capitalize;
    z-index: 1;
}

.filter-buttons {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.filter-buttons a {
    margin: 0;
    text-decoration: none;
}

.filter-buttons button {
    margin: 16px;
    padding: 8px;
    width: 150px;
}

.filter-section {
    height: 100%;
    width: 100%;
    text-align: center;
    overflow: auto;
}

@media screen and (max-width: 770px) {
    .search-section {
        align-items: center;
        border: none;
    }

    .search-bar {
        margin: 0;
    }

    .filter-buttons {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .filter-buttons button {
        font-size: 1.2em;
    }
}

@media screen and (max-width: 460px) {
    
    .filter-buttons button {
        width: 40vw;
        font-size: .8em; 
     }
}